In [ ]:
from sklearn.linear_model import Lasso
from yellowbrick.regressor import PredictError

# visualizer = PredictError(Lasso())
# visualizer.fit(X_train,y_train)
# visualizer.score(X_test,y_test)
# visualizer.poof()

In [1]:
#importing libraries 

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics
from sklearn.model_selection import RepeatedKFold

In [2]:
#loading dataset  

df = pd.read_csv('income_data.csv')
print(df)

                ID  age   gender                    education  \
0        ID_TZ0000   79   Female         High school graduate
1        ID_TZ0001   65   Female         High school graduate
2        ID_TZ0002   21     Male        12th grade no diploma
3        ID_TZ0003    2   Female                     Children
4        ID_TZ0004   70     Male         High school graduate
...            ...  ...      ...                          ...
209494  ID_TZ99995   16   Female            7th and 8th grade
209495  ID_TZ99996   78     Male   Bachelors degree(BA AB BS)
209496  ID_TZ99997    8   Female                     Children
209497  ID_TZ99998   26   Female   Some college but no degree
209498  ID_TZ99999   19     Male                   11th grade

                      class education_institute  \
0                       NaN                 NaN
1                       NaN                 NaN
2        Federal government                 NaN
3                       NaN                 NaN
4                       NaN                 NaN
...                     ...                 ...
209494                  NaN         High school
209495                  NaN                 NaN
209496                  NaN                 NaN
209497              Private                 NaN
209498     Local government         High school

                          marital_status                        race  \
0                                Widowed                       White
1                                Widowed                       White
2                          Never married                       Black
3                          Never married   Asian or Pacific Islander
4        Married-civilian spouse present                       White
...                                  ...                         ...
209494                     Never married                       White
209495   Married-civilian spouse present                       White
209496                     Never married                       White
209497   Married-civilian spouse present                       White
209498                     Never married                       Black

       is_hispanic      employment_commitment  ... country_of_birth_mother  \
0        All other         Not in labor force  ...                      US
1        All other   Children or Armed Forces  ...                      US
2        All other   Children or Armed Forces  ...                      US
3        All other   Children or Armed Forces  ...                   India
4        All other         Not in labor force  ...                      US
...            ...                        ...  ...                     ...
209494   All other         Not in labor force  ...                      US
209495   All other         Not in labor force  ...                  Canada
209496   All other   Children or Armed Forces  ...                      US
209497   All other   Children or Armed Forces  ...                      US
209498   All other   Children or Armed Forces  ...                      US

        migration_code_change_in_msa  migration_prev_sunbelt  \
0                                  ?                       ?
1                          unchanged                     NaN
2                          unchanged                     NaN
3                          unchanged                     NaN
4                                  ?                       ?
...                              ...                     ...
209494                             ?                       ?
209495                             ?                       ?
209496                             ?                       ?
209497                     unchanged                     NaN
209498                    MSA to MSA                    Same

       migration_code_move_within_reg  migration_code_change_in_reg  \
0                                   ?                             ?
1                           unchanged                     unchanged
2                           unchanged                     unchanged
3                           unchanged                     unchanged
4                                   ?                             ?
...                               ...                           ...
209494                              ?                             ?
209495                              ?                             ?
209496                              ?                             ?
209497                      unchanged                     unchanged
209498                    Same county                   Same county

        residence_1_year_ago old_residence_reg  old_residence_state  \
0                        NaN               NaN                  NaN
1                       Same               NaN                  NaN
2                       Same               NaN                  NaN
3                       Same               NaN                  NaN
4                        NaN               NaN                  NaN
...                      ...               ...                  ...
209494                   NaN               NaN                  NaN
209495                   NaN               NaN                  NaN
209496                   NaN               NaN                  NaN
209497                  Same               NaN                  NaN
209498                    No             South              Florida

       importance_of_record  income_above_limit
0                   1779.74         Below limit
1                   2366.75         Below limit
2                   1693.42         Below limit
3                   1380.27         Below limit
4                   1580.79         Below limit
...                     ...                 ...
209494              2170.60         Below limit
209495              1029.57         Below limit
209496               791.61         Below limit
209497              3530.26         Below limit
209498              1987.72         Below limit

[209499 rows x 43 columns]

In [ ]:
df.info() #getting info about null values

In [ ]:
df.describe() #to me it seems like there is variance in each column by looking at the mean and standard deviatiom

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
plt.figure(figsize=(25,25))
sns.heatmap(df.isnull(), cmap='viridis') #checking for null values

In [ ]:
missing_value_percent = df.isnull().sum() / df.shape[0] * 100
print(missing_value_percent)   #using this i determined that 90% empty columns  will be dropped

In [ ]:
df1=df.drop(["ID","household_summary","education_institute","unemployment_reason","is_labor_union","under_18_family","veterans_admin_questionnaire"
            ,"old_residence_state","old_residence_reg","migration_code_change_in_msa","migration_prev_sunbelt",
            "migration_code_move_within_reg","migration_code_change_in_reg"],axis=1)

In [ ]:
missing_value_percent = df1.isnull().sum() / df1.shape[0] * 100 #storing in a different variable  
print(missing_value_percent)   #checking to see how many columns need to dropped or filled
df1.shape

In [ ]:
df2=df1.dropna() #i also tried dropping empty rows

In [ ]:
print("og data",df.shape)
print("1st clean ver data",df1.shape)
print("2nd clean ver data",df2.shape) #but this way i was left with a very small dataset as compared to the original

In [ ]:
print(df.tail(5))

In [ ]:
df.nunique

In [ ]:
column_types = df1.dtypes
print(column_types)

In [ ]:
numeric_columns = df1.select_dtypes(include=['number']).columns     #i used this to separate my numerical and categorical values
categorical_columns = df1.select_dtypes(include=['object']).columns

print("\nNumeric Columns:")
print(numeric_columns)

print("\nCategorical Columns:")
print(categorical_columns)

In [ ]:
unique_values = df1['income_above_limit'].value_counts() #i was considering oversampling at this point
print(unique_values)

In [ ]:
plt.figure(figsize=(10,12))
sns.heatmap(df2.isnull(), cmap='viridis')

In [ ]:
plt.figure(figsize=(10, 5)) #i am stuck at which columns are significant and which are not

plt.subplot(1, 2, 1)
category1_counts = df1['age'].value_counts()
plt.bar(category1_counts.index, category1_counts, color='skyblue')
plt.xlabel('Categories (gender)')
plt.ylabel('Count')
plt.title('Bar Plot for gender')

plt.subplot(1, 2, 2)
category2_counts = df1['education'].value_counts()
plt.bar(category2_counts.index,category2_counts,color='lightcoral')
plt.xlabel('Categories (education)')
plt.ylabel('Count')
plt.title('Bar Plot for education')

# Adjust layout
plt.tight_layout()

In [ ]:
from yellowbrick.features import Rank1D

# Instantiate the 1D visualizer with the Sharpiro ranking algorithm
visualizer = Rank1D(features=feature_names, algorithm='shapiro')

visualizer.fit(X, y)                # Fit the data to the visualizer
visualizer.transform(X)             # Transform the data
visualizer.poof()